USE [BDLOGISTICA]

GO

/****** Object:  Table [dbo].[Table_Categorias]    Script Date: 16/04/2023 17:00:45 ******/
SET ANSI_NULLS ON

GO

SET QUOTED_IDENTIFIER ON

GO

CREATE TABLE [DBO].[TABLE_CATEGORIAS](
	[CODIGODACATEGORIA] [INT] NOT NULL,
	[NOMEDACATEGORIA] [VARCHAR](70) NOT NULL,
	[DESCRICAO] [VARCHAR](100) NULL,
	CONSTRAINT [PK_TABLE_CATEGORIAS] PRIMARY KEY CLUSTERED ( [CODIGODACATEGORIA] ASC )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] GO
 /****** Object:  Table [dbo].[Table_clientes]    Script Date: 16/04/2023 17:00:45 ******/ SET ANSI_NULLS ON GO SET QUOTED_IDENTIFIER ON GO CREATE TABLE [DBO].[TABLE_CLIENTES](
	[CODIGODOCLIENTE] [CHAR](10) NOT NULL,
	[NOMEDAEMPRESA] [VARCHAR](70) NOT NULL,
	[NOME DOCONTATO] [VARCHAR](70) NOT NULL,
	[CARGODOCONTATO] [VARCHAR](40) NOT NULL,
	[ENDERECO] [NCHAR](50) NULL,
	[CIDADE] [VARBINARY](MAX) NOT NULL,
	[REGIAO] [VARCHAR](25) NOT NULL,
	[CEP] [CHAR](15) NOT NULL,
	[PAIS] [VARCHAR](25) NOT NULL,
	[TELEFONE] [CHAR](20) NOT NULL,
	[FAX] [CHAR](20) NOT NULL,
	CONSTRAINT [PK_TABLE_CLIENTES] PRIMARY KEY CLUSTERED ( [CODIGODOCLIENTE] ASC )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY] GO
 /****** Object:  Table [dbo].[Table_fornecedores]    Script Date: 16/04/2023 17:00:45 ******/ SET ANSI_NULLS ON GO SET QUOTED_IDENTIFIER ON GO CREATE TABLE [DBO].[TABLE_FORNECEDORES](
	[CODIGODOFORNECEDOR] [INT] NOT NULL,
	[NOMEDAEMPRESA] [VARCHAR](70) NOT NULL,
	[NOMEDOCONTATO] [VARCHAR](70) NOT NULL,
	[CARGODOCONTATO] [VARCHAR](40) NULL,
	[ENDERECO] [VARCHAR](50) NULL,
	[CIDADE] [VARCHAR](25) NULL,
	[REGIAO] [VARCHAR](25) NULL,
	[CEP] [CHAR](15) NULL,
	[PAIS] [VARCHAR](25) NULL,
	[TELEFONE] [CHAR](20) NULL,
	[FAX] [CHAR](20) NULL,
	CONSTRAINT [PK_TABLE_FORNECEDORES] PRIMARY KEY CLUSTERED ( [CODIGODOFORNECEDOR] ASC )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] GO
 /****** Object:  Table [dbo].[Table_funcionarios]    Script Date: 16/04/2023 17:00:45 ******/ SET ANSI_NULLS ON GO SET QUOTED_IDENTIFIER ON GO CREATE TABLE [DBO].[TABLE_FUNCIONARIOS](
	[CODIGODOFUNCIONARIO] [INT] NOT NULL,
	[SOBRENOME] [VARCHAR](30) NULL,
	[NOME] [VARCHAR](30) NOT NULL,
	[CARGO] [VARCHAR](40) NULL,
	[TRATAMENTO] [CHAR](10) NULL,
	[DATADENASCIMENTO] [DATE] NULL,
	[DATADECONTRATACAO] [DATE] NULL,
	[ENDERECO] [VARCHAR](50) NULL,
	[CIDADE] [VARCHAR](25) NULL,
	[REGIAO] [NCHAR](25) NULL,
	[CEP] [CHAR](15) NULL,
	[PAIS] [NCHAR](25) NULL,
	[TELEFONERESIDENCIAL] [CHAR](20) NULL,
	[RAMAL] [CHAR](5) NULL,
	[OBSERVACOES] [VARCHAR](200) NULL,
	CONSTRAINT [PK_TABLE_FUNCIONARIOS] PRIMARY KEY CLUSTERED ( [CODIGODOFUNCIONARIO] ASC )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] GO
 /****** Object:  Table [dbo].[Table_Pedidos]    Script Date: 16/04/2023 17:00:45 ******/ SET ANSI_NULLS ON GO SET QUOTED_IDENTIFIER ON GO CREATE TABLE [DBO].[TABLE_PEDIDOS](
	[NUMERODOPEDIDO] [INT] NOT NULL,
	[CODIGODOCLIENTE] [CHAR](10) NOT NULL,
	[CODIGODOFUNCIONARIO] [INT] NOT NULL,
	[DATADOPEDIDO] [DATE] NULL,
	[DATADEENTREGA] [DATE] NULL,
	[DATADEENVIO] [DATE] NULL,
	[CODIGODATRANSPORTADORA] [INT] NOT NULL,
	[FRETE] [MONEY] NULL,
	[NOMEDODESTINATARIO] [VARCHAR](50) NULL,
	[ENDERECODODESTINATARIO] [VARCHAR](50) NULL,
	[CEPDODESTINO] [CHAR](15) NULL,
	[PAISDEDESTINO] [VARCHAR](25) NULL,
	[CIDADEDEDESTINO] [VARCHAR](25) NULL,
	[REGIAODEDESTINO] [VARCHAR](25) NULL,
	CONSTRAINT [PK_TABLE_PEDIDOS] PRIMARY KEY CLUSTERED ( [NUMERODOPEDIDO] ASC )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] GO
 /****** Object:  Table [dbo].[Table_Produtos]    Script Date: 16/04/2023 17:00:45 ******/ SET ANSI_NULLS ON GO SET QUOTED_IDENTIFIER ON GO CREATE TABLE [DBO].[TABLE_PRODUTOS](
	[CODIGODOPRODUTO] [INT] NOT NULL,
	[NOMEDOPRODUTO] [VARCHAR](50) NOT NULL,
	[CODIGODOFORNECEDOR] [INT] NOT NULL,
	[CODIGODACATEGORIA] [INT] NOT NULL,
	[QUANTIDADEPORUNIDADE] [CHAR](30) NULL,
	[PRECOUNITARIO] [MONEY] NULL,
	[UNIDADEEMESTOQUE] [INT] NULL,
	[UNIDADESPEDIDAS] [INT] NULL,
	[NIVELDEREPOSICAO] [INT] NULL,
	[DESCONTINUADO] [INT] NULL,
	CONSTRAINT [PK_TABLE_PRODUTOS] PRIMARY KEY CLUSTERED ( [CODIGODOPRODUTO] ASC )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] GO
 /****** Object:  Table [dbo].[TableTransportadora]    Script Date: 16/04/2023 17:00:45 ******/ SET ANSI_NULLS ON GO SET QUOTED_IDENTIFIER ON GO CREATE TABLE [DBO].[TABLETRANSPORTADORA](
	[CODIGODATRANSPORTADORA] [INT] NOT NULL,
	[NOMEDAEMPRESA] [VARCHAR](30) NOT NULL,
	[TELEFONE] [CHAR](20) NULL,
	PRIMARY KEY CLUSTERED ( [CODIGODATRANSPORTADORA] ASC )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] GO